  $query = $db->query("select * from berita where id = '1' ") or die($db->error);
 	$data = $query->fetch_assoc();
	
	
	
 	$content = $data['isi_berita']; 
 	$count = count(explode(" ", $content)); 
 	
	$splitnews = $count / 2 ;
	
	if ($count > 775 ) {
	$newsMinus =  $splitnews - 150;
	
	}elseif($count < 775 && $count > 500 ) {
	$newsMinus =  $splitnews - 100;	 
	 
	 }elseif($count < 500 ) {
	$newsMinus =  $splitnews - 50;	 
	 }

 	$newsFirst = explode(" ", $content);
	$NewsFirstProses = implode(" ", array_splice($newsFirst,0,$newsMinus ));
	$showNewsFirst = $NewsFirstProses;

	$newsSecond = explode(" ", $content);
	$NewsSecondProses = implode(" ", array_splice($newsSecond,$newsMinus));
	$showNewsSecond= $NewsSecondProses; 
